<div id="configContent">
	<ul class="radio-group">
		<li class="no-wrap"><input type="radio" name="csCount" value="1">1&nbsp;{{loc 'core.coreSet'}}</li>
		<li class="no-wrap"><input type="radio" name="csCount" value="2">2&nbsp;{{loc 'core.coreSets'}}</li>
		<li class="no-wrap"><input type="radio" name="csCount" value="3">3&nbsp;{{loc 'core.coreSets'}}</li>
	</ul>
	<a id="configApply" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-ok"></span></a>
	<a id="configCancel" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
</div>