<div id="configContent">
	<ul class="radio-group">
		<li class="no-wrap"><input type="radio" name="csQuantity" value="1">1&nbsp;{{loc 'core.coreSet'}}</li>
		<li class="no-wrap"><input type="radio" name="csQuantity" value="2">2&nbsp;{{loc 'core.coreSets'}}</li>
		<li class="no-wrap"><input type="radio" name="csQuantity" value="3">3&nbsp;{{loc 'core.coreSets'}}</li>
	</ul>
	<div class="pull-right popover-buttons">
		<label id="configApply" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-ok"></span></label>
		<label id="configCancel" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></label>
	</div>
</div>