{{#each messages}}
<div class="alert alert-{{kind}} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>{{loc title}}:</strong> {{loc message}}
</div>
{{/each}}