<div id="publicDeckListView" class="deck-list">
	<div class="content-band">
		<div class="container">
			<div class="actions-container"></div>
			<div class="deck-list-filter-container"></div>	
			<div class="deck-list-data-container"></div>
		</div>
	</div>
</div>