<div class="user-deck-import-view">

	<div class="content-band">
		<div class="container">

			<div class="actions-container"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<textarea class="form-control" id="importedDeck"  rows="35" placeholder="{{loc 'core.import.lineFormat'}}"></textarea>					
					</div>
				</div>
				<div class="col-md-6">
					<div style="margin-bottom: 20px;">
						<label id="parseDeckButton" class="btn btn-default" data-layout="list">
							<span class="glyphicon glyphicon-cog"></span>&nbsp;{{loc 'core.process'}}
						</label>
						<label id="editDeckButton" class="btn btn-default disabled" data-layout="list">
							<span class="glyphicon glyphicon-pencil"></span>&nbsp;{{loc 'core.looksGoodGoToEditView'}}
						</label>
					</div>
					<div class="mg-container"></div>
					<div class="problems-container"></div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>
